<div class="container">
	<div class='row'>
		<div class='col-sm-2'>
			<%= render 'shared/leftMenu' %>
		</div>
		<div class='col-sm-6'>
			<h1>Profile</h1>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"> User Profile</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>User Name</td>
								<td><%= @user.name %></td>
							</tr>

							<tr>
								<td>Email</td>
								<td><%= @user.email %></td>
							</tr>
							<tr>
								<td>Count</td>
								<td>72</td>
							</tr>
							<tr>
								<td>Total Time</td>
								<td>4 h 15 m 30 s</td>
							</tr>
							<tr>
								<td>Last Update</td>
								<td>NOV.7.2013</td>
							</tr>
							<tr>
								<td>Place</td>
								<td>Kioicho(Estimated)</td>
							</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-primary">Edit</button>
					<p id="notice"><%= notice %></p>
				</div>
			</div>
		</div>
		<div class='col-sm-4'>
			<h1>Activities</h1>
			<%= link_to 'Activity', :action => "activity" %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"> 2013.11.07 Around Kioicho</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Date</td>
								<td>NOV.7.2013</td>
							</tr>
							<tr>
								<td>Place</td>
								<td>Kioicho(Estimated)</td>
							</tr>
							<tr>
								<td>Time</td>
								<td>1h15m20s</td>
							</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-primary">Show</button>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Date</td>
								<td>NOV.7.2013</td>
							</tr>
							<tr>
								<td>Place</td>
								<td>Kioicho(Estimated)</td>
							</tr>
							<tr>
								<td>Time</td>
								<td>1h15m20s</td>
							</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-primary">Show</button>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Date</td>
								<td>NOV.7.2013</td>
							</tr>
							<tr>
								<td>Place</td>
								<td>Kioicho(Estimated)</td>
							</tr>
							<tr>
								<td>Time</td>
								<td>1h15m20s</td>
							</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-primary">Show</button>
				</div>
			</div>
		</div>
	</div>
</div>
