<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "flat-ui", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul class="nav navbar-nav">
		<li>
		<a href="#">
			Menu item
			<!-- Indicator with number -->
			<span class="navbar-new">2</span>
		</a>
		</li>
	</ul>
	<%= yield %>
	<!-- ... -->
	<!-- ... -->

	<!-- Default switch -->
	<input type="checkbox" checked data-toggle="switch" />

	<!-- Square switch -->
	<div class="switch switch-square">
		<input type="checkbox" checked data-toggle="switch" />
	</div>

	<!-- Switch with customized icons -->
	<div class="switch switch-square"
		data-on-label="<i class='fui-check'></i>"
		data-off-label="<i class='fui-cross'></i>">
		<input type="checkbox" />
	</div>
	<!-- Javascripts
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<%= yield(:page_javascript) if content_for?(:page_javascript) %>

</body>
</html>
