<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="wrapper">
			<% if current_user %>
				<%= render 'shared/header4user' %>
			<% else %>
				<%= render 'shared/header4nomember' %>
			<% end %>
			<%= yield %>
			<%= render 'shared/footer' %>
			<!-- Javascripts
			================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<%= yield(:page_javascript) if content_for?(:page_javascript) %>
		</div>
	</div>
</body>

</body>
</html>
